@charset "UTF-8";
* {
  font-family: 'Lato', sans-serif; }

#row-forms {
  display: flex;
  padding-top: 6%;
  flex-direction: row;
  align-content: flex-end;
  justify-content: space-evenly; }

body {
  background: none; }

#button-google {
  padding-top: 10%; }

#logo-image {
  padding: 10%; }

#bokane-title {
  font-size: 3rem; }

a {
  text-decoration: none; }

#login-text {
  font-size: 2rem; }

#navbar-color {
  border-left: 10px solid #225473;
  border-right: 10px solid #225473;
  background: rgba(171, 191, 99, 0.4); }

#suscribe-text {
  font-size: larger; }

#bokane-des {
  width: 50vw; }

#sus-email {
  padding-left: 20%; }

#camping {
  display: flex;
  flex-direction: row; }

#map-container {
  margin: 10%;
  display: flex;
  justify-content: center;
  align-items: center; }

#camping-info-container {
  display: flex;
  width: 40%; }

.title {
  color: #2C5559; }

.btn-verde {
  background: #5C7345;
  color: white; }

#waterski {
  color: black; }

#footer-card {
  box-shadow: 5px 5px 5px #2C5559; }

.ser-title {
  font-size: 2.2rem; }

#restImg-order {
  width: 35%; }

#boat {
  width: 30%; }

#cam-title {
  font-size: 3.9rem;
  color: #225473;
  padding-left: 10%;
  padding-bottom: 2%;
  width: 50%; }

.camp-list {
  padding-top: 2%;
  width: 30%;
  align-items: center;
  justify-self: center;
  display: flex;
  flex-direction: column; }

.camp-list img {
  padding-bottom: 5%; }

#section-camping {
  padding-left: 3vw;
  font-size: 1rem;
  width: 95vw; }

#section-camping a:first-of-type {
  margin-right: 20%;
  margin-left: 70%;
  margin-bottom: 5%; }

.ul-camping {
  text-decoration: none;
  list-style: none;
  box-sizing: none;
  align-self: stretch;
  justify-content: center; }

.ul-camping li {
  background: rgba(92, 115, 69, 0.2);
  box-shadow: 1px 1px 1px #ABBF63; }

.camp-icon {
  width: 12%;
  margin-left: 6%; }

.carousel-item img {
  max-width: 100%;
  height: auto; }

#gallery-title {
  padding-left: 40%;
  padding-bottom: 1%;
  padding-top: 6%;
  font-size: 3rem; }

#act-title {
  padding-bottom: 1%;
  font-size: 3rem; }

#restaurant-list li {
  background: none;
  box-shadow: none; }

.gallery-camp {
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 90vw;
  padding-bottom: 3%; }

.carousel-inner {
  width: 100%;
  max-height: auto; }

#reservation-title {
  padding-bottom: 5%;
  padding-top: 4%;
  font-size: 3rem; }

#reservation {
  display: flex;
  padding: 6%;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 50%; }

.ul-activity {
  display: flex;
  align-self: center;
  justify-content: center;
  background: none;
  align-self: stretch;
  padding-bottom: 5%; }

.ul-activity li {
  height: 50; }

#activities-section {
  display: flex;
  justify-content: center;
  flex-direction: column; }

#activities-section p:first-child {
  font-size: 1.2rem; }

.btn-act {
  align-self: center;
  justify-self: right; }

.act-list {
  padding-top: 2%;
  width: 30%;
  justify-self: center;
  display: flex;
  flex-direction: column; }

.act-list img {
  padding-bottom: 5%; }

#warning-act {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-bottom: 5%; }

#act-cards {
  width: 30%;
  height: 30%;
  display: flex;
  flex-flow: row wrap;
  float: right;
  padding: 5%; }

#buttons-card {
  display: flex;
  flex-flow: row wrap; }

#profile-title {
  font-size: 3rem;
  width: 100%;
  margin: 0;
  text-align: center; }

#profile-section {
  display: flex;
  flex-direction: row; }

#profile {
  justify-self: flex-start;
  justify-content: center;
  padding-left: 3%;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 90vh; }

#edit-act-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh; }

#edit-act-form form {
  align-self: center; }

#edit-act-form h3 {
  font-size: 2rem; }

#edit-profile {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

.form-select-room-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around; }

.form-select-room article {
  width: 500px; }

.card {
  box-shadow: 2px 2px 30px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 30px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 30px 2px rgba(0, 0, 0, 0.5);
  margin: 50px; }

#reser-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 40px 0px 40px 0px; }

#reser-header button {
  color: #5C7345;
  margin: 15px 10px 0 10px;
  background-color: white;
  border: 3px solid;
  border-color: #5C7345;
  border-radius: 20px 20px 20px 20px;
  padding: 5px 60px 5px 60px; }

#reser-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 60px 0px 20px 0px; }

#reser-form span, #reser-form input {
  background-color: white;
  border: 1px solid;
  border-color: #bac79e; }

.input-group {
  margin: 0 10px 0 10px; }

#div-btn-continue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#btn-contiune {
  font-size: 1.3rem;
  color: white;
  background-color: #5C7345;
  margin: 0 10px 60px 10px;
  border: 3px solid;
  border-color: #5C7345;
  border-radius: 20px 20px 20px 20px;
  padding: 5px 60px 5px 60px; }

/*NAV*/
.pt-1, .py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important; }

.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020; }

nav {
  display: block; }

*, ::after, ::before {
  box-sizing: border-box; }

.site-header a {
  color: #ABBF63;
  transition: ease-in-out color .15s;
  transition-property: color;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s; }

.site-header {
  background-color: rgba(0, 0, 0, 0.85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px); }

.site-header a:hover {
  color: #fff;
  text-decoration: none; }

/*CHECKBOXES  */
.custom-control-label::before {
  position: absolute;
  top: .25rem;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  content: "";
  background-color: #fff;
  border: #adb5bd solid 1px; }

.custom-control-label::after {
  position: absolute;
  top: .25rem;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  content: "";
  background: no-repeat 50%/50% 50%; }

.custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' heig…M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e"); }

.custom-control-input {
  position: absolute;
  left: 0;
  z-index: -1;
  width: 1rem;
  height: 1.25rem;
  opacity: 0; }

/*CHECK VIEW*/
#section-check {
  display: flex;
  justify-content: center;
  align-items: center; }

#content-checkView {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start; }

.section-bookView {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

/*BOOK VIEW*/
/*COMPLETE VIEW*/
#section-completeView {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  border-radius: 20px; }

/*footer index*/
#footer {
  background: #242424;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 30px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 30px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 30px 2px rgba(0, 0, 0, 0.5); }

#footer-terms {
  font-size: 0.75rem;
  color: gray;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.foot-container {
  width: 75%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.social-network {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-left: 0 !important; }

.social-network li {
  margin: 0 8px 0 8px;
  display: inline; }

.social-circle li a {
  background: #417630;
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
  font-size: 20px; }

.social-network a.icoYoutube:hover {
  background-color: #ed4526; }

.social-network a.icoFacebook:hover {
  background-color: #3B5998; }

.social-network a.icoTwitter:hover {
  background-color: #33ccff; }

.social-network a.icoTripAdvisor:hover {
  background-color: #5fe0a1; }

.social-network a.icoVimeo:hover {
  background-color: #0590B8; }

.social-network a.icoInstagram:hover {
  background-color: #bd4c8d; }

.social-circle li i {
  margin: 0;
  line-height: 50px;
  text-align: center; }

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s; }

.social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s; }

/*# sourceMappingURL=style.css.map */