<section id="about-us">
<div id="about-us-title">
<h2 id="about-title">About us</h2>
<img class="w-50 img-fluid rounded-lg" src="https://res.cloudinary.com/dxxdamndt/image/upload/v1581529672/GPTempDownload_3_yi7xfn.jpg">
<p>We are an ecofriendly resort and we want to share our beautifull paradise.</p>
</div>
<div id="history">
<h4 id="history-title"><i class="fas fa-history p-2 pr-4"></i>Some history</h4>
<p>This idea started in 2016 when bought the land to a person called Lidia. Here in this town they all want to preseve the beuty of the habitat and that is why we are ecofriendly resort.
<p>All of what you see and find here is meant to be as less intrusive as possible to respect nature. Nowadays there are very few places where the human hasn't gone to and that are still untouched, this is one of those places, where you will be able to see the nature how it really is.
This is also why we have a lot of animals in the area, some are crocodiles which are in the mangrove but not near our land because of the human presence. Here you can also find bats flying around in the night and making their unique sounds</p>
<a href="/booking" class="btn-verde btn-sm">Come and visit us and have a unique and enriching experience.</a>
</div>
<h5 id="where-title"><i class="fas fa-thumbtack p-2 pr-4"></i>Where are we?</h5>
<div id="footer-card" class="card mb-3 w-50">
  <a target="_blank" href="https://www.google.com/maps/@15.8442535,-93.6636558,846m/data=!3m1!1e3"><img src="https://res.cloudinary.com/dxxdamndt/image/upload/v1581280376/Screen_Shot_2020-02-09_at_2.32.34_PM_fswas0.png" class="card-img-top h-50" alt="map-image"></a>
  <div class="card-body text-center">
    <h5 class="card-title">Contact</h5>
    <p class="card-text">If you want to know more, here is our information:</p>
    <ul class="list-group">
        <li class="list-group-item">
            <p><i class="fas fa-phone-alt pr-3"></i>Phone: 5534289034</p>
             <p><i class="fas fa-envelope pr-3"></i>Email: bokane@contact.com</p>
        </li>
    </ul>
    <a href=""><i class="fab fa-facebook-f p-3"></i></a>
    <a href=""><i class="fab fa-tripadvisor p-3"></i></a>
    <a href=""><i class="fab fa-instagram p-3"></i></a>
  </div>
</div>

<p>You do not have to worry about anything, we have a restaurant for you to eat in, we provide also kitchen in case you want to cook your own meals. </p>
<p>We have several services, such as bathroom private or public, a kiosk for reading and a dock for you to enjoy the sunrise.</p>
<p>If you are not what you will be doing here, we can paint a picture. </p>

{{!-- GALLERY --}}
<h4 id="gallery-title"><i class="fas fa-photo-video p-2 pr-4"></i>Gallery</h4>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://res.cloudinary.com/dxxdamndt/image/upload/v1581613983/carrusel1_h1yq0p.png" class="d-block w-100" alt="gallerimg1">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dxxdamndt/image/upload/v1581613983/carrusel2_vehtap.png" class="d-block w-100" alt="doginsand">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dxxdamndt/image/upload/v1581613984/carrusel3_rbfvfk.png" class="d-block w-100" alt="bungalow">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dxxdamndt/image/upload/v1581613984/carrusel4_dx3sja.png" class="d-block w-100" alt="mangrove">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dxxdamndt/image/upload/v1581613984/carrusel5_tk5k6r.png" class="d-block w-100" alt="lizard">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dxxdamndt/image/upload/v1581613984/carrusel6_jf9kh1.png" class="d-block w-100" alt="crab">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dxxdamndt/image/upload/v1581613985/carrusel7_w4kxaz.png" class="d-block w-100" alt="crab">
    </div>
  </div>

  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <img class="prev" src="https://res.cloudinary.com/dxxdamndt/image/upload/v1581613983/bt-prev_vvf3ma.png" alt="Previous Frame" style="display: inline;">
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
     <img class="next" src="https://res.cloudinary.com/dxxdamndt/image/upload/v1581613982/bt-next_b9bshx.png" alt="Next Frame" style="display: inline;">
    </a>
</div>

</section>
