  <!-- SECTION 0 BOKANE PORTADA -->
 <section id="headerIndex">
    <div class="headerIndex-container">
      <h1>Welcome to Bokané</h1>
      <h2>Our greatest achievement is to be part of your best experiences</h2>
   <form action="/reservation" method="GET">
      <input value="BOOK"id="btn-book" type="submit" class="btn btn-outline-secondary">
      </form>
    </div>
  </section>
   <!-- FIN SECTION 0 BOKANE PORTADA -->
 
 <!-- SECTION 1 BOKANE EXPLICACION -->
  <section style="display:flex; justify-content:space-evenly;align-items:center;">
    <div style="width:60%;display:flex; justify-content:center;align-items:flex-start;flex-direction:column;text-align: justify;" id="intro-bokane" class="w-5">
      <h3 id="bokane-title" class=" title">Bokané</h3>
    <p>We are an ecofriendly resort opening our doors to visitors. We are localted near <b>Boca del Cielo, Chiapas</b> next to the mangrove. Our resort is surrounded by water,
      we have on one side the mangrove and on the other the ocean. The only way to get here is by boat, but don't worry we'll give you a ride.
      We have several rooms and a camping area to stay (in case you love the outdoors). You can come also just to have fun, you can practice the activities we have for you to have a fun and amazing experience.</p>
      </p>
       
    </div>
    <img style="height:180px; margin:45px;" id="bokane-img" src="../images/pet.png">
  </section>
  <!-- FIN SECTION ONE BOKANE EXPLICACION  -->
  
<!-- ACTIVITIES SECTION  -->
 <section class="">
   <h4 id="act-title" class="text-center pt-3 pb-2" style="color: #2C5559"> <b>Activities</b> </h4>
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../images/activities1.png" class="imgACT d-block w-100 img-fluid" alt="...">
        <div class="carousel-caption d-none d-md-block carousel-act">
            <h5>Kayak</h5>
            <p>Take a stroll throw the mangrove</p>
             <form style="margin-top: 55px;" action="/activities" method="GET">
             <input value="More  info"id="btn-book" type="submit" class="btn btn-outline-secondary">
             </form>
        </div>
      </div>
      <div class="carousel-item">
          <img src="../images/activities2.png" class="imgACT d-block w-100 img-fluid" alt="mangrove">
        <div class="carousel-caption d-none d-md-block carousel-act">
            <h5>Go Climbing</h5>
            <p>Try this new and fun activity and enjoy the nature around</p>
            <form style="margin-top: 55px;" action="/activities" method="GET">
             <input value="More  info"id="btn-book" type="submit" class="btn btn-outline-secondary">
             </form>
        </div>
      </div>
      <div class="carousel-item">
          <img src="../images/activities3.png" class="imgACT d-block w-100 img-fluid" alt="...">
        <div class="carousel-caption d-none d-md-block carousel-act">
            <h5>Waterski</h5>
            <p>We have all the equipment you need to have fun on the mangrove</p>
            <form style="margin-top: 55px;" action="/activities" method="GET">
             <input value="More  info"id="btn-book" type="submit" class="btn btn-outline-secondary">
             </form>
        </div>
      </div>
    </div>





    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <img class="prev" src="../images/bt-prev.png" alt="Previous Frame" style="display: inline;">
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
     <img class="next" src="../images/bt-next.png" alt="Next Frame" style="display: inline;">
    </a>
    </div>
 </section>
 <!-- FINAL SECTION ACTIVITIES -->




 <!-- SECCION CAMPING -->

<section style="display:flex; justify-content:space-evenly;align-items:center;">
  <img style="margin:60px 0 20px 0;"src="../images/stay.jpg" class="align-self-center mr-3 w-50 pl-5 rounded-lg" alt="camping">
    <div style=" margin:20px; width:40%;display:flex; justify-content:space-between;align-items:flex-end;flex-direction:column;text-align: justify;" id="intro-bokane" class="w-5">
      <h3 id="bokane-title" class=" title">Stay with us!</h3>
    <p>We have rooms for you to stay in or if you like the <b>outdoors</b> we have also an area for camping. 
      Imagine a full clean air climate and the smell and sound of the sea, you will be able to relax and let go of all that city induced stress, come and <b>relax</b> wether it is by reading your favorite book or just looking at the waves crash at the beach.</p>
            <p class="mb-0">If you are interested, reserve a spot and come visit us!</p>
            <form style="margin-top: 55px;" action="/about-us" method="GET">
             <input style="color: black;" value="More  info"id="btn-book" type="submit" class="btn btn-outline-secondary">
             </form>
    </div>
  </section>


 <!-- FIN SECCINO CAMPING -->

 <!-- SECCION VIDEO -->
<h4 id="act-title" class="text-center pt-3 pb-2" style="color: #2C5559"> <b>Explore the area</b> </h4>
 <section style="display: flex; align-items:center; justify-content:center; margin-top:0;">
   <iframe width="100%" height="480" src="https://www.youtube.com/embed/ALLfAwN4uHM?start=12&end=178"  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 </section>
 <!-- FIN SECCINO VIDEO -->

 {{!-- INICIO GALLERY --}}
 <h4 id="act-title" class="text-center pt-3 pb-2" style="color: #2C5559"> <b>Gallery</b> </h4>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../images/carrusel1.png" class="d-block w-100" alt="gallerimg1">
    </div>
    <div class="carousel-item">
      <img src="../images/carrusel2.png" class="d-block w-100" alt="doginsand">
    </div>
    <div class="carousel-item">
      <img src="../images/carrusel3.png" class="d-block w-100" alt="bungalow">
    </div>
    <div class="carousel-item">
      <img src="../images/carrusel4.png" class="d-block w-100" alt="mangrove">
    </div>
    <div class="carousel-item">
      <img src="../images/carrusel5.png" class="d-block w-100" alt="lizard">
    </div>
    <div class="carousel-item">
      <img src="../images/carrusel6.png" class="d-block w-100" alt="crab">
    </div>
  </div>

  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <img class="prev" src="../images/bt-prev.png" alt="Previous Frame" style="display: inline;">
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
     <img class="next" src="../images/bt-next.png" alt="Next Frame" style="display: inline;">
    </a>
</div>

{{!-- FIN GALLERY --}}
 
 <!-- MAPBOX -->
  <div id="location" class="">
  <h4 id="map-title" class="text-center pt-3 pb-2" style="color: #2C5559"> <b>Where are we?</b> </h4>
  <div id="map-container" class="ml-auto mr-auto my-0">
    <div id='map' class="" style='width: 100vw; height: 480px;'></div>
  </div>
  </div>
  <!-- FINAL MAPBOX -->

<!-- Newlester -->
  <section style="display:flex; justify-content:center;align-items:center;">
<div style="margin:50px 0 50px 0;" id="sus-email" class="align-self-center ml-5">
      <form action="/" class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
          <label id ="suscribe-text"class="pr-2" for="inputPassword2">Subscribe to our newsletter and receive our best offers and promotions:</label>
          <input type="email" required class="form-control form-control-sm" id="inputPassword2" placeholder="Email">
          </div>
        <button style="padding: 0 50px 0 50px;" type="submit" class="btn mb-2 form-control-sm btn-verde">Subscribe</button>
      </form>
      {{#if show}}
      <p>{{msg}}</p>
      {{/if}}
    </div>

</section>
<!-- Fin Newlester -->
