 <!-- SECTION 1 BOKANE EXPLICACION -->
  <section id="desc-bokane" class='d-flex align-items-md-start flex-md-column pl-5 pt-5 ml-3'>
    <div id="intro-bokane" class="w-75">
      <h3 id="bokane-title" class=" title">Bokané</h3>
    <p>We are an ecofriendly resort opening our doors to visitors. We are localted near Boca del Cielo, Chiapas next to the mangrove. Our resort is surrounded by water,
      we have on one side the mangrove and on the other the ocean. The only way to get here is by boat, but don't worry we'll give you a ride.
      We have several rooms and a camping area to stay, in case you love the outdoors. You can come also just to have fun, you can practice the activities we have for you to have a fun and amazing experience.</p>
      <br> Suscribe to our newsletter and we'll give you a <strong>10% discount</strong>
      </p>
      <!-- <img id="bokane-img" src="https://res.cloudinary.com/dxxdamndt/image/upload/v1581205991/IMG_4624_2_g0pn5f.jpg"> -->
    </div>
    <div id="sus-email" class="align-self-center ml-5">
      <form action="/" class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
          <label id ="suscribe-text"class="pr-2" for="inputPassword2">Suscribe:</label>
          <input type="email" required class="form-control form-control-sm" id="inputPassword2" placeholder="Email">
        </div>
        <button type="submit" class="btn mb-2 form-control-sm btn-verde">Suscribe</button>
      </form>
      {{#if show}}
      <p>{{msg}}</p>
      {{/if}}
    </div>
  </section>
  <!-- FIN SECTION ONE BOKANE EXPLICACION  -->
  <!-- MAPBOX -->
  <div id="location" class="">
  <h4 id="map-title" class="text-center pt-3 pb-2" style="color: #2C5559">Where are we?</h4>
  <div id="map-container" class="ml-auto mr-auto my-0">
    <div id='map' class="" style='width: 90vw; height: 400px;'></div>
  </div>
  </div>
  <!-- FINAL MAPBOX -->
 <!-- SECCION CAMPING -->
 <section class="mt-5" id="camping">
    <div class="media">
        <img src="https://res.cloudinary.com/dxxdamndt/image/upload/v1581213485/IMG_2427_rx5pyz.jpg" class="align-self-center mr-3 w-50 pl-5 rounded-lg" alt="camping">
        <div class="media-body w-50 pl-4">
            <h5 class="mt-0 title" style="font-size: 2.5rem;">Stay with us!</h5>
            <p>We have rooms for you to stay in or if you like the outdoors we have also an area for camping.</p>
            <p>You do not have to worry about anything, we have a restaurant for you to eat in, we provide also kitchen in case you want to cook your own meals. </p>
            <p>We have several services, such as bathroom private or public, a kiosk for reading and a dock for you to enjoy the sunrise.</p>
            <p>If you are not what you will be doing here, we can paint a picture. Imagine a climate full or clean air and with the smell of the sea, you will be able to relax and let go of all that city induced stress come and relax wether it is by reading your favorite book or just looking at the waves crash at the beach.</p>
            <p class="mb-0">Are your interested, reserve a spot and come visit us?</p>
        <form action="/reservation" method="GET">
        <input type="submit" value="More Info" class="btn mt-2 form-control-sm pt-1 btn-lg btn-verde">
         </form>
        </div>
    </div>
 </section>
 <!-- FIN SECCINO CAMPING -->
 <!-- ACTIVITIES SECTION  -->
 <section class="mt-5">
    <h4 class="text-md-center pr-3 title" title style="font-size: 2.5rem;" id="act-title">Activities</h4>
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://res.cloudinary.com/dxxdamndt/image/upload/v1581274430/GPTempDownload_yapyj3.jpg" class="d-block w-100 img-fluid" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h5>Kayak</h5>
            <p>Take a stroll throw the mangrove</p>
            <a href="/activities" class="btn btn-verde" >More info</a>
        </div>
      </div>
      <div class="carousel-item">
          <img src="https://res.cloudinary.com/dxxdamndt/image/upload/v1581274586/PHOTO-2020-02-02-15-15-38_rlvi2g.jpg" class="d-block w-100 img-fluid" alt="mangrove">
        <div class="carousel-caption d-none d-md-block">
            <h5>Go Climbing</h5>
            <p>Try this new and fun activity and enjoy the nature around</p>
            <a href="/activities" class="btn btn-verde" >More info</a>
        </div>
      </div>
      <div class="carousel-item">
          <img src="https://res.cloudinary.com/dxxdamndt/image/upload/v1581274708/waterski_xkptae.jpg" class="d-block w-100 img-fluid" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h5 id="waterski">Waterski</h5>
            <p id="waterski">We have all the equipment you need to have fun on the mangrove</p>
            <a href="/activities" class="btn btn-verde" >More info</a>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    </div>
 </section>
 <!-- FINAL SECTINO ACTIVITIES -->
<!-- INITIAL FOOTER  -->
<footer class="pt-5 d-flex justify-content-center">

  </footer>
<!-- FINISH FOOTER  -->