<section id="terms">
<h3 id="terms-main-title">Terms and Conditions</h3>
<h4 class="term-title">Pets</h4>
<div class="centered">
<p>We accept pets in the facility with no extra charge, there is no need to let us know if your are bringing your pet. In case your pet turns out to be a bit aggresive towards other pets or our guests we are going to have to ask you to use a leash to prevent any accidents</p>
<p>In case of accidents we can provide ride to the nearest town but with extra fee, in case of this event the nesares town us Tonalá and is an hour away form the resort.</p>
<p>We can provide several accesories for your pet such as a bowl and water, the food we do have is an extra charge, this depends on the amount of kg you buy form us.</p>
<p>We advise all out guest from letting your pet swim in the mangrove since it can be dangerous, we do not hold ourselves responsible in the event of any accident to the pet in the mangrove or in the resort.</p>
</div>

<h4 class="term-title">Rooms</h4>
<div class="centered">
<p>The rooms we provide have all the necesites we think you might need, in case of needing extra appliances let us know or bring them, we need previous notice of this.</p>
<p>We do not pay for the damages caused to the room after your stay here, these will be charged to the credit card that you will give to us at the time of arrival in the resort</p>
<p>The pets are allowed to sleep on the bed, but if the room is to dirty we will charge an extra 100 pesos for the cleaning cost.</p>
<p>There are no foods allowed in the room, there is a common are designated for eating. If this is not followed and damages are caused to the furniture we will charge your credit card the respective amount.</p>
<p>There is no smoking inside, this is because it can cause a fire, and there is no firefighters near this area, so if this happened it could be a catastrophe. Please be careful</p>
</div>

<h4 class="term-title">Common Areas</h4>
<div class="centered">
<p>We have several common areas where you can stay, we have a dinning room the bathrooms and of course the bungalow near the beach, where all the furniture is available for use.</p>
<p>Here you can smoke with all the precautions necessary, you can drink beverages with alcohol and all pets are allowed. </p>
<p>There are no fireworks allowed this because they are not ecofriendly and it disturbs the natural fauna.</p>
<p>The mangrove is as well a common area so you cannot take the spot, because is meant to be for all the guests in the resort</p>
</div>
<h4 class="term-title">Activities</h4>
<div class="centered bottom-term">
<p>The activities need to be reserved on the same day, this to prevent all out activities from be reserved and doing this we can have all the guest be able to enjoy the activites</p>
<p>In the fee of the activities the food is not included, only transport and equipment</p>
<p>The activities are payed for at the moment of departure to the activity, all the damages are charged to the credit card left at arrival</p>
<p>There are somea activities that are not allowed pets or children, these rules depend on each activity and group so ask our staff to help you.</p>
</div>
</section>